<div class="news">
  <h2>news</h2>
  {% if site.news  %}
    <div class="table-responsive">
      <table class="table table-sm table-borderless">
      {% for item in collections.news limit: site.news_limit %}
        <tr>
          <th scope="row">{{ item.date | readableDate }}</th>
          <td>
            {% if item.data.inline %}
              {{ item.templateContent | remove: '<p>' | remove: '</p>'  }}
            {% else %}
              <a class="news-title" href="{{ item.url | url }}">{{ item.data.title }}</a>
            {% endif %}
          </td>
        </tr>
      {% endfor %}
      </table>
    </div>
  {% else %}
    <p>No news so far...</p>
  {% endif %}
</div>
