---
layout: page
---
<div class="projects grid">
    {% for project in collections.projects %}
    <div class="grid-item">
      {% if project.data.redirect %}
      <a href="{{ project.data.redirect }}" target="_blank">
      {% else %}
      <a href="{{ project.url | url }}">
      {% endif %}
        <div class="card hoverable">
          {% if project.data.img %}
          <img src="{{ project.data.img | url }}" alt="project thumbnail">
          {% endif %}
          <div class="card-body">
            <h2 class="card-title text-lowercase">{{ project.data.title }}</h2>
            <p class="card-text">{{ project.data.description }}</p>
            <div class="row ml-1 mr-1 p-0">
              {% if project.data.github %}
              <div class="github-icon">
                <div class="icon" data-toggle="tooltip" title="Code Repository">
                  <a href="{{ project.data.github }}" target="_blank"><i class="fab fa-github gh-icon"></i></a>
                </div>
                {% if project.data.github_stars %}
                <span class="stars" data-toggle="tooltip" title="GitHub Stars">
                  <i class="fas fa-star"></i>
                  <span id="{{ project.data.github_stars }}-stars"></span>
                </span>
                {% endif %}
              </div>
              {% endif %}
            </div>
          </div>
        </div>
      </a>
    </div>
  {% endfor %}
  </div>